<footer role="contentinfo">
    <div class="container center" style="font-size: 19px;">
        <p>
            <small>
            <a class="plain-link" href="http://tryspark.io/">©2016 Spark</a> |
              <a class="plain-link" href="https://lauro.io/about">By Lauro Silva</a>
            </small>
        </p>
    </div>
</footer>
